@import 'tailwindcss';

:root {
  --footer-bg: rgb(4, 4, 4);
  --bg-gradient: radial-gradient(
    circle at top left,
    rgba(170, 0, 255, 0.9) 0%,
    rgba(137, 0, 150, 0.6) 15%,
    rgba(29, 0, 51, 0.4) 30%,
    rgba(5, 0, 20, 0.6) 50%,
    rgba(2, 0, 10, 0.85) 75%,
    rgba(0, 0, 5, 0.95) 100%
  );

  --card-color: black;
  --card-shadow: 0 6px 20px rgba(183, 0, 255, 0.4);
  --card-border: 1px solid rgb(58, 58, 58);
  --border-color: rgb(58, 58, 58);

  --header-gradient: linear-gradient(
    to right,
    rgb(245, 169, 235) 0%,
    #942c97 80%,
    #750280 100%
  );
  --landingName-gradient: linear-gradient(
    to right,
    white 40%,
    #942c97 80%,
    #750280 100%
  );
  --about-gradient: linear-gradient(
    to right,
    white 15%,
    #942c97 35%,
    #750280 100%
  );
  --svg-gradient: rgb(5, 5, 15);
  --heading-2: #b043cc;
  --text-color: #c9d1d9;
  /* --text-color: #ede6f7; */
  --nav-text-color: #d1b8f9;
  --nav-bg: transparent;

  /* --btn-hover: #4d0560; */
  --btn-hover: linear-gradient(
    to right top,
    #0b0c2a 0%,
    #3a0ca3 25%,
    #7209b7 50%,
    #b5179e 75%,
    #f72585 100%
  );

  --box-shadow:
    0px 0px 5px #7209b7, 0px 0px 7px #b51793, 0px 0px 9px #7209b7,
    0px 0px 15px #f72585;

  /*  --profile-bg: #381060; */
  --profile-bg: rgb(12, 12, 12, 12);
  --contact-bg: transparent;

  --nav-bg-color: linear-gradient(to right top, #b700ff, #b043cc, #9f2dbc);
}

html[data-theme='light'],
html.light {
  /*   --color-bg: linear-gradient(to right top, #a9e06d, #f3faf0); */
  --bg-gradient: radial-gradient(
    circle at top left,
    rgba(39, 146, 7, 0.9) 0%,
    rgba(25, 77, 10, 0.7) 20%,
    rgba(15, 30, 10, 0.6) 40%,
    rgba(5, 10, 5, 0.7) 60%,
    rgba(2, 5, 2, 0.9) 85%,
    rgba(0, 0, 0, 1) 100%
  );
  --footer-bg: #f0f0f0;
  --color-bg: rgb(255, 255, 255);
  --card-color: #f3faf0;
  --card-color: #f3faf0;
  --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  --card-light-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  --card-border: 1px solid rgba(223, 221, 221, 0.849);
  --border-color: rgba(223, 221, 221, 0.849);
  /*   --card-border: 1px solid rgba(255, 255, 255, 0.1); */
  --profile-bg: rgb(225, 225, 225);
  --nav-bg: #f3faf0;

  --heading-1: #046104;
  --header-gradient: linear-gradient(
    to right,
    rgb(7, 34, 1) 0%,
    #216b21 22%,
    #279207 100%
  );
  --svg-gradient: rgb(255, 255, 255);
  --about-gradient: linear-gradient(
    to right,
    rgb(7, 34, 1) 10%,
    #108510 30%,
    rgb(47, 180, 7) 100%
  );
  --landingName-gradient: linear-gradient(
    to right,
    rgb(255, 255, 255) 40%,
    #216b21 60%,
    #279207 100%
  );

  --btn-hover: linear-gradient(
    to right top,
    #033007 0%,
    #024207 25%,
    #025a09 50%,
    #128812 75%,
    #2cf725 100%
  );

  --heading-2: #046104;

  --nav-text-color: #333;
  --text-color: #333;
  /* --profile-bg: #f0f0f0; */
  --nav-bg-color: linear-gradient(to right, rgb(16, 85, 1), #216b21, #279207);
  --box-shadow: transparent;
  --contact-bg: linear-gradient(
    to right top,
    #033007 0%,
    #024207 25%,
    #025a09 50%,
    #128812 75%,
    #2cf725 100%
  );
}

@layer utilities {
  .landing-container {
    margin-inline: auto;
    padding-inline: 2rem;

    @media (width>=640px) {
      max-width: 640px;
    }
    @media (width>=768px) {
      max-width: 768px;
    }
    @media (width>=1024px) {
      max-width: 1024px;
    }
    @media (width>=1280px) {
      max-width: 1280px;
    }
    @media (width>=1400px) {
      max-width: 1400px;
    }
    @media (width>=1536px) {
      max-width: 1536px;
    }
  }
  .container {
    @apply pt-15 md:pt-20 lg:pt-27 xl:pt-35 2xl:pt-35;
    margin-inline: auto;
    padding-inline: 2rem;

    @media (width>=640px) {
      max-width: 640px;
    }
    @media (width>=768px) {
      max-width: 768px;
    }
    @media (width>=1024px) {
      max-width: 1024px;
    }
    @media (width>=1280px) {
      max-width: 1280px;
    }
    @media (width>=1400px) {
      max-width: 1400px;
      padding-top: 10rem;
    }
    @media (width>=1536px) {
      max-width: 1536px;
    }
  }
  /*  #0b0c2a 0%,
    #3a0ca3 25%,
    #7209b7 50%,
    #b5179e 75%,
    #f72585 100% */
  .nav-glow:hover {
    box-shadow: var(--box-shadow);
  }
  .contact-glow:hover {
    box-shadow: var(--box-shadow);
    background: var(--contact-bg);
    color: white !important;
  }
  .nav-button {
    @apply text-white text-sm lg:text-sm  border border-transparent md:border-white py-1 px-2 md:px-3 rounded-full shadow-none md:shadow-[inset_-4px_3px_7px_white] cursor-pointer transition-all duration-400 ease-in-out;
    background-color: transparent; /* Optional for better transition */
  }
  @media (max-width: 768px) {
    .nav-button {
      font-size: 12px;
    }
  }
  @media (max-width: 330px) {
    .hide-contact {
      display: none;
    }
  }
  .animate-spin-slow {
    animation: spin 20s linear infinite;
  }
  .contact-btn {
    background: var(--btn-hover);
  }

  .global-text {
    @apply text-[13px] sm:text-[13px] md:text-[14px] lg:text-[15px] text-[var(--text-color)] font-normal;
  }
  .contact-text {
    @apply text-gray-600 text-[13px] sm:text-[13px] md:text-[14px] lg:text-[15px] font-normal;
  }

  .skill-box {
    @apply text-[12px] sm:text-[12px] md:text-[13px] lg:text-[14px] font-normal py-1 px-2 rounded-2xl text-[var(--text-color)]  border-1;
    background-color: var(--card-color);
    border: var(--card-border);
    width: fit-content;
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease !important;
    cursor: pointer;
  }
  .skill-box:hover {
    transform: translateY(-5px) !important;
    box-shadow: var(--card-shadow);
  }
  .tech-box {
    @apply text-[12px] sm:text-[12px] md:text-[13px] lg:text-[13px] font-normal py-1 px-2 rounded-2xl text-[var(--text-color)]  border-1;
    background-color: var(--card-color);
    border: var(--card-border);
    width: fit-content;
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease !important;
    cursor: pointer;
  }
  .tech-box:hover {
    transform: translateY(-5px) !important;
    box-shadow: var(--card-shadow);
  }
  .icon-hover:hover {
    transform: rotate(-10deg) scale(1.4) !important;
  }

  .nav-button:hover,
  .nav-button.active {
    background: var(--btn-hover);
    border: 1px solid white;
    color: white;
    box-shadow: none;
  }

  .bg-overlay {
    background: var(--bg-gradient);
  }
  .nav-bg {
    @apply md:shadow-[inset_-4px_3px_20px_white]  md:bg-transparent;
  }
  .divider-gradient {
    fill: var(--svg-gradient);
  }
  .mask-blend {
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    mask-mode: alpha;
    -webkit-mask-mode: alpha;
  }

  .about-gradient {
    background-image: var(--about-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .header-color {
    /*   background-image: var(--header-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; */
    color: var(--text-color);
  }
  .divider-color {
    background: var(--header-gradient);
  }
  .landing-header {
    background-image: var(--landingName-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .bg-body {
    background-color: var(--color-bg);
  }
  .bg-footer {
    background: var(--footer-bg);
  }

  .card {
    background-color: var(--card-color);
    border: var(--card-border);
    /* box-shadow: var(--card-light-shadow); */
    border-radius: 10px;
    padding: 30px 20px;
    color: var(--text-color);
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease !important;
  }
  .project-card {
    background-color: var(--card-color);
    border: var(--card-border);
    /*  box-shadow: var(--card-light-shadow); */
    border-radius: 10px;
    padding: 30px 20px;
    color: var(--text-color);
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease !important;
  }

  .card-title {
    @apply text-lg sm:text-lg md:text-xl lg:text-xl font-semibold;
    /* color: var(--heading-2); */
    color: var(--text-color);
  }
  .card-description {
    @apply text-[14px] sm:text-[14px] md:text-[14px] lg:text-[15px] text-[var(--text-color)] font-normal leading-relaxed;

    color: var(--text-color);
  }
  .card:hover {
    transform: translateY(-5px) !important;
    box-shadow: var(--card-shadow);
  }

  .heading-size {
    @apply text-4xl  sm:text-4xl md:text-5xl lg:text-4xl font-semibold;
  }
  .sub-heading-size {
    @apply text-lg  sm:text-xl md:text-xl lg:text-xl font-semibold;
  }

  .heading-1 {
    @apply text-3xl font-medium sm:text-3xl md:text-4xl lg:text-5xl bg-gradient-to-r from-white via-[#D6B4D7] to-[#750280] bg-clip-text text-transparent;
    color: var(--heading-1);
  }

  .heading-2 {
    color: var(--heading-2);
    font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
  }

  .sidebar {
    background: var(--nav-bg-color);
    color: var(--text-color);
    height: 100vh;
    width: 240px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    position: fixed;
    top: 0;
    left: 0;
  }

  .profile-bg {
    background-color: var(--profile-bg);
    border: var(--card-border);
  }
}

summary::-webkit-details-marker {
  display: none !important;
}

#root {
  background: var(--color-bg);
  min-height: 100vh;
  overflow: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.modal-open {
  overflow: hidden !important;
}
